@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: Nunito;
    font-weight: bold;
    src: url('../fonts/Nunito-Bold.ttf');
}

body {
    @apply h-full;

    background: #fcfbfb;
    font-family: Nunito, sans-serif;
}

main {
    @apply px-4 py-6 sm:py-8 sm:px-8;
}

.aspect-ratio-1 {
    aspect-ratio: 1;
}
