.modal-transition-enter {
  opacity: 0;
}

.modal-transition-enter-active {
  opacity: 1;
  transition: opacity 350ms;
}

.modal-transition-exit {
  opacity: 1;
}

.modal-transition-exit-active {
  opacity: 0;
  transition: opacity 350ms;
}

.modal-inner-transition-enter {
  transform: scale(0);
}

.modal-inner-transition-enter-active {
  transform: scale(1);
  transition: transform 350ms;
}

.modal-inner-transition-exit {
  transform: scale(1);
}

.modal-inner-transition-exit-active {
  transform: scale(0);
  transition: transform 350ms;
}
