.user-container {
  &.user-trans-enter {
    opacity: 0;
  }

  &.user-trans-enter-active {
    opacity: 1;
    transition: opacity 350ms ease;
  }

  &.user-trans-exit {
    opacity: 1;
  }

  &.user-trans-exit-active {
    opacity: 0;
    transition: opacity 350ms ease;
  }

  &.user-trans-exit-done {
    visibility: hidden;
  }
}
