@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Nunito;
    src: url('@/common/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: Nunito;
    font-weight: bold;
    src: url('@/common/fonts/Nunito-Bold.ttf');
}

body {
    @apply h-full;
    font-family: Nunito, sans-serif;
}

.aspect-ratio-1 {
    aspect-ratio: 1;
}
